@model BillManagementSystem.ViewModels.AddBillViewModel

<h1>Add Bills</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label for="BillDescription" class="form-label">Bill Description</label>
        <input type="text" class="form-control" id="BillDescription" asp-for="BillDescription" placeholder="Enter bill description" autocomplete="off">
    </div>

    <div class="form-group mt-3">
        <label for="BillName" class="form-label">Bill Person</label>
        <input type="text" class="form-control text-black" id="BillName" asp-for="BillName" autocomplete="off" placeholder="@ViewBag.FName @ViewBag.LName" readonly>
    </div>

    <div class="form-group mt-3">
        <label for="BillDepartment" class="form-label">Bill Department</label>
        <select class="form-control" id="BillDepartment" asp-for="BillDepartment" asp-items="@Model.Departments">
            <option value="">Please select a department</option>
        </select>
    </div>

    <div class="form-group mt-3">
        <label for="BillValue" class="form-label">Bill Value</label>
        <input type="number" class="form-control" id="BillValue" asp-for="BillValue" placeholder="Enter bill value" autocomplete="off">
    </div>

    <div class="form-group mt-3">
        <label for="BillImage" class="form-label">Bill Image</label>
        <input type="file" class="form-control" id="BillImage" asp-for="BillImage">
        <span asp-validation-for="BillImage" class="text-danger"></span>
    </div>

    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>
